*.csv
coursework/.vs/
coursework/Debug/
coursework/x64/
coursework/coursework/.vs/
coursework/coursework/Debug/
coursework/coursework/x64/
report/main.aux
report/main.log
report/main.pdf
main.synctex.gz